.page {
    padding-top: 35px;
    padding-bottom: 131px;
    position: relative;
    background-color: black;
      
}

@media screen and (max-width: 1500px) {
    .page {
        padding-top: 30px;
        padding-bottom: 121px;
    }
}

@media screen and (max-width: 1000px) {
    .page {
        padding-top: 35px;
        padding-bottom: 85px;
    }
}

@media screen and (max-width: 500px) {
    .page {
        padding-bottom: 69px;
    }
}