.ellipse {
    background-image: url(../../images/BG_Ellipse.jpg);
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 3; 
}

@media screen and (max-width: 1500px) {
    .ellipse {
        
    }
}

@media screen and (max-width: 1000px) {
    .ellipse {
        display: none;
    }
}