
.header__title {
   font-family: 'Lato', sans-serif;
   font-weight: 700; 
   font-size: 56px;
   line-height: 80px;
   max-width: 880px;
   margin-top: 15px;
   margin-bottom: 26px;
   color: #331A2F;
}

@media screen and (max-width: 1500px) {
   .header__title {
      font-size: 46px;
      line-height: 65px;
      margin-bottom: 44px;
   }
}

@media screen and (max-width: 1000px) {
   .header__title {
      max-width: 688px;
      margin-bottom: 22px;
   }
}
/*
@media screen and (max-width: 800px) {
   .header__title {
      max-width: 738px;
      
   }
}*/

@media screen and (max-width: 600px) {
   .header__title {
      font-size: 26px;
      line-height: 39px;
      max-width: 300px;
      margin-top: 44px;
      margin-bottom: 28px;
   }
}

@media screen and (max-width: 440px) {
   .header__title {
      font-size: 26px;
      line-height: 39px;
      max-width: 202px;
      margin-top: 44px;
      margin-bottom: 28px;
   }
}
